<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8"/>
  <!--Responsive Web-->
  <meta name="viewport" content="width=device-width,intial-scale=1.0,shrink-to-fit=no"/>
  <!--CSS-->
  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='screen.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Oswald|Racing+Sans+One&display=swap" rel="stylesheet">
  <title>Shoepper</title>
</head>
<body>
<figure>
  <center><img src="{{ url_for('static',filename='logo_300.png') }}" alt="shoepper_logo"></center>

</figure>
<main id="main"> 
  <section id="GoogleNL">
    <h2>Your Faves</h2>
    <article class="article">
      <div class="container">
        {% block div %}{% endblock %}
        {% block form %}{% endblock %}
      </div>
    </article>
  </section>
</main>
<footer id="footer">
  <p>
    EC601 A2 Product Design in Electrical and Computer Engineering<br/> Go to <a href="#header">Top</a>
  </p>
</footer>
</body>
</html>