<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8"/>
  <!--Responsive Web-->
  <meta name="viewport" content="width=device-width,intial-scale=1.0,shrink-to-fit=no"/>
  <!--CSS-->
  <link rel="stylesheet" type="text/css" media="screen" href="./static/css/screen.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald|Racing+Sans+One&display=swap" rel="stylesheet">
  <title>Home</title>
</head>
<body>
<h1>Shoepper</h1>
<main id="main"> 
  <section id="Twitter">
    <h2>Twitter Feeds</h2>
    <article class="article">
      {% block article %} {% endblock %}
    </article>
  </section>
</main>
<footer id="footer">
  <p>
    EC601 A2 Product Design in Electrical and Computer Engineering<br/> Go to <a href="#header">Top</a>
  </p>
</footer>
</body>
</html>