{% extends 'base.html'%}

{% block form %}
<form method="post">
  <div class="bt-wrapper">
        <input type="radio" name="option" id="bt-nike" class="hidden r-label" value="nike kill shot 2" checked>
        <label for="bt-nike" class="bt-label"><h3>NIKE KILLSHOT 2</h3></label>
        <input type="radio" name="option" id="bt-adidas" class="hidden r-label" value="adidas stan smith">
        <label for="bt-adidas" class="bt-label"><h3>ADIDAS STAN SMITH</h3></label>
        <input type="radio" name="option" id="bt-puma" class="hidden r-label" value="puma rs-x">
        <label for="bt-puma" class="bt-label"><h3>PUMA RS-X</h3></label>
        <input type="radio" name="option" id="bt-reebok" class="hidden r-label" value="reebok club c 85 vintage">
        <label for="bt-reebok" class="bt-label"><h3>REEBOK CLUB C 85 VINTAGE</h3></label>
    <center>
        <input type="submit" id="bt-submit" class="hidden r-label" value="submit">
        <label for="bt-submit" class="bt-label"><h3>Submit</h3></label>
    </center>
  </div>
</form>
{% endblock %}